{namespace core=TYPO3\CMS\Core\ViewHelpers}
<f:alias map="{lll: 'LLL:EXT:dce/Resources/Private/Language/locallang_mod.xml:'}">
    <tr class="{f:if(condition:'{dce.uid}', then:'db', else:'file')}">
        <td class="listEntry">
            <a href="{f:render(partial:'Module/OpenDce', arguments:'{uid:\'{dce.uid}\'}') -> dce:format.tiny()}" class="overlayLink"></a>

			<f:render partial="Module/ListItem/TypeIcon" arguments="{dce:dce}" />

            <div class="dceLabel">
                <div>
                    <f:if condition="{dce.title}">
                        <f:then>
                            <span><f:translate key="{dce.title}" default="{dce.title}" /></span>
                        </f:then>
                        <f:else>
                            <span><em><f:translate key="noTitle" /></em></span>
                        </f:else>
                    </f:if>
                </div>
                <div class="small text-muted">
                    <em>
                        <f:if condition="{dce.wizardDescription}">
                            <span title="{dce.wizardDescription}">
                                <f:format.crop maxCharacters="80">
                                    <f:translate key="{dce.wizardDescription}" default="{dce.wizardDescription}" />
                                </f:format.crop>
                            </span>
                        </f:if>
                    </em>
                </div>
            </div>
        </td>

        <td class="status">
            <f:if condition="{dce.hidden} == 1">
                <f:then>
                    <span class="label label-danger text-uppercase">{f:translate(key:'{lll}disabled')}</span>
                </f:then>
                <f:else>
                    <f:if condition="{dce.fields -> f:count()} == 0">
                        <f:then><span class="label label-warning text-uppercase">{f:translate(key:'{lll}nofields')}</span></f:then>
                        <f:else><span class="label label-success text-uppercase">{f:translate(key:'{lll}enabled')}</span></f:else>
                    </f:if>
                </f:else>
            </f:if>
        </td>
        <td class="identifier">
            <code>
            <f:if condition="{dce.identifier}">
                <f:then>{dce.identifier}</f:then>
                <f:else>dceuid{dce.uid}</f:else>
            </f:if>
            </code>
        </td>
        <td class="uid">
            {dce.uid}
        </td>
        <td class="usage">
            <a href="{f:render(partial:'Module/DceInfoLink', arguments:'{dce:dce}') -> dce:format.tiny()}" title="{f:translate(key:'{lll}relatedContentElements', arguments:'{0:\'{dce.relatedContentElementRows -> f:count()}\'}')}">
                <core:icon identifier="mimetypes-x-content-text-picture" />
                <span>{dce.relatedContentElementRows -> f:count()}</span>
            </a>
        </td>
        <td class="dceStats">
            <f:if condition="{dce.enableContainer}">
                <span class="label label-default label-darker">
                    <span class="text-uppercase">{f:translate(key:'{lll}dceContainerEnabled')}</span>
                    <f:if condition="{dce.containerItemLimit}">({f:translate(key:'{lll}limitedToItems', arguments:'{0:\'{dce.containerItemLimit}\'}')})</f:if>
                </span>
            </f:if>
        </td>
        <td class="fieldStats">
            <span class="label label-default label-darker">{dce.fields -> f:count()} {f:translate(key:'{lll}fields')}</span>
            <f:if condition="{dce.hasTcaMappings}">
                <f:if condition="{dce.addsNewFieldsToTca}">
                    <f:then><span title="{f:translate(key:'{lll}tcaplus')}" class="label label-danger">TCA+</span></f:then>
                    <f:else><span title="{f:translate(key:'{lll}tca')}" class="label label-danger">TCA</span></f:else>
                </f:if>
            </f:if>
        </td>
        <td>
            <div class="pull-right">
                <f:if condition="{dce.hasTcaMappings}">
                    <f:link.action class="btn btn-default btn-large" action="updateTcaMappings" arguments="{dce:dce}">
                        <core:icon identifier="extensions-extensionmanager-update-script" />
                        <f:translate key="{lll}updateTcaMappings" />
                    </f:link.action>
                </f:if>
                <a href="{f:render(partial:'Module/OpenDce', arguments:'{uid:\'{dce.uid}\'}') -> dce:format.tiny()}" class="btn btn-primary btn-wide">
                    <i class="fa fa-edit"></i>
                    {f:translate(key:'{lll}edit')}
                </a>
            </div>
        </td>
    </tr>
</f:alias>
